<?xml version="1.0"?>
<config>
    <global>
        <models>
            <toonvd_varnish>
                <class>Toonvd_Varnish_Model</class>
            </toonvd_varnish>
        </models>
        <helpers>
            <toonvd_varnish>
                <class>Toonvd_Varnish_Helper</class>
            </toonvd_varnish>
        </helpers>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <turpentine_varnish_catalog_product_save_commit_after>
                        <type>disabled</type>
                    </turpentine_varnish_catalog_product_save_commit_after>
                </observers>
            </catalog_product_save_commit_after>
            <catalog_category_save_commit_after>
                <observers>
                    <turpentine_varnish_catalog_category_save_commit_after>
                        <type>disabled</type>
                    </turpentine_varnish_catalog_category_save_commit_after>
                </observers>
            </catalog_category_save_commit_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <model_save_before>
                <observers>
                    <toonvd_varnish>
                        <class>toonvd_varnish/observer</class>
                        <method>modelSaveBefore</method>
                    </toonvd_varnish>
                </observers>
            </model_save_before>
            <model_save_commit_after>
                <observers>
                    <toonvd_varnish>
                        <class>toonvd_varnish/observer</class>
                        <method>modelSaveCommitAfter</method>
                    </toonvd_varnish>
                </observers>
            </model_save_commit_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <toonvd_varnish>
                    <file>toonvd/varnish.xml</file>
                </toonvd_varnish>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <toonvd_varnish>
                        <class>toonvd_varnish/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </toonvd_varnish>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_postdispatch>
                <observers>
                    <toonvd_varnish>
                        <class>toonvd_varnish/observer</class>
                        <method>controllerActionPostDispatch</method>
                    </toonvd_varnish>
                </observers>
            </controller_action_postdispatch>
        </events>
    </frontend>
    <varnish>
        <tag_prefixes>
            <mage_catalog_model_product>P</mage_catalog_model_product>
            <mage_catalog_model_category>C</mage_catalog_model_category>
            <mage_cms_model_block>Blck</mage_cms_model_block>
        </tag_prefixes>
        <objects_to_tag>
            <mage_catalog_block_product_view>
                <function_to_call>getProduct</function_to_call>
                <loop>0</loop>
            </mage_catalog_block_product_view>
            <mage_catalog_block_product_list_related>
                <function_to_call>getItems</function_to_call>
                <loop>1</loop>
            </mage_catalog_block_product_list_related>
            <mage_catalog_block_product_list_upsell>
                <function_to_call>getItemCollection</function_to_call>
                <loop>1</loop>
            </mage_catalog_block_product_list_upsell>
            <mage_catalog_block_category_view>
                <function_to_call>getCurrentCategory</function_to_call>
                <loop>0</loop>
            </mage_catalog_block_category_view>
            <mage_catalog_block_product_list>
                <function_to_call>getLoadedProductCollection</function_to_call>
                <loop>1</loop>
            </mage_catalog_block_product_list>
            <mage_cms_block_block>
                <function_to_call>getBlockId</function_to_call>
                <loop>O</loop>
            </mage_cms_block_block>
            <mage_cms_block_widget_block>
                <function_to_call>getBlockId</function_to_call>
                <loop>O</loop>
            </mage_cms_block_widget_block>
        </objects_to_tag>
        <objects_to_ban>
            <mage_catalog_model_category>
                <callback>
                    <class>Toonvd_Varnish_Model_TagBanner</class>
                    <function>categoryBanCallback</function>
                </callback>
            </mage_catalog_model_category>
            <mage_catalog_model_product>
                <callback>
                    <class>Toonvd_Varnish_Model_TagBanner</class>
                    <function>productBanCallback</function>
                </callback>
            </mage_catalog_model_product>
            <mage_cms_model_block/>
        </objects_to_ban>
    </varnish>
</config>
